<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=ACEREVO\SQLEXPRESS01;Database=ExerciceMonster;User Id=ton_login;Password=ton_mot_de_passe;"
         providerName="System.Data.SqlClient" />
</connectionStrings>


</configuration>
